.todo-editor {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  border: 1px solid black;
}
